



.item1 img {
    height: auto;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 2;
    @media only screen and (max-width: 800px) {
        grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
    }
    }

    .item2 img {
        height: auto;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 2;
        @media only screen and (max-width: 800px) {
            grid-row-start: 3;
        grid-row-end: 3;
        width: 100%;
        }
        }

        .item3 img {
            height: auto;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 2;
    @media only screen and (max-width: 800px) {
        grid-row-start: 4;
    grid-row-end: 4;
    width: 100%;
    }
        }

        .img-container img{
            height: auto;
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 1;
            
        }

        .img-container2 img{height: auto;
            width: 100%;
            grid-column-start: 2;
                grid-column-end: 2;
        }

        .about img{
            height: 50vw;
            @media only screen and (max-width: 800px) {
               height: auto;
               width: 100%;
            }
        }